.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
}

@media screen and (max-width: 449px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 2px solid rgb(245, 234, 234);
}

.form__button {
    padding: 12px;
    border: none;
    background-color: hsl(180, 100%, 25%);
    color: whitesmoke;
    font-size: 15px;
}

.form__button:hover {
    background-color: hsl(180, 97%, 35%);
}

.form__button:active {
    background-color: hsl(180, 97%, 40%);
}

.form__li {
    font-weight: 400;
    font-size: 0.8em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    border-bottom: 5px solid whitesmoke;
}

.form__task--done {
    text-decoration: line-through;
    margin: 0;
}

.form__task {
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    background-color: green;
    transition: 0.5s;
}

.form__task:hover {
    background-color: hsl(120, 100%, 35%);
    transform: scale(1.1);
}

.form__task:active {
    background-color: hsl(120, 100%, 45%);
}

.form__remove {
    width: 30px;
    height: 30px;
    border: none;
    background-color: hsl(0, 100%, 50%);
}

.form__remove:hover {
    background-color: hsl(0, 100%, 55%);
    transform: scale(1.1);
}

.form__remove:active {
    background-color: hsl(0, 100%, 60%);
}